html{
    position:absolute;
    margin:0px;
    padding:0px;
}

body{
    overflow-y: scroll;
    font-family: Arial;
    font-size: 100%;
    background-color: #fdfdfd;
    position:absolute;
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
}


#content_privacy {
    width: 1080px;
    margin-left: 110px;
    margin-top: 150px;
}

#content_privacy h1 {
    font-size: 38px;
    margin-bottom: 80px;
    text-align: center;
}