html{
    position:absolute;
    margin:0px;
    padding:0px;
}

body{
    overflow-y: scroll;
    font-family: Arial;
    font-size: 100%;
    background-color: #fdfdfd;
    position:absolute;
    padding:0px;
    margin:0px;
    top:0px;
    left:0px;
}

.div3 {
    float: left;
    width: 1200px;
    height: auto;
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 114px;
}

#type {
    display: inline-block;
    width: 300px;
    margin-left: 70px;
    margin-bottom: 40px;
}

#product {
    width: 1100px;
    margin-top: 10px;
    margin-left: 30px;
}

.img {
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid #f46a48;
    height: 255px;;
    width: 190px;
    float: left;
    margin-bottom: 50px;
}

.img img {
    position: relative;
    left: 1px;
    display: inline;
    width: 187px;
    height: 190px;
    border: 1px solid #ffffff;
}

.desc {
    height: 28px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f46a48;

}

.desc p {
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    color: #fdfdfd;;
    width: 170px;
    height: auto;
    margin-top: 3px;
}

.price {
    font-size: 16px;
    color: #343535;
    margin-left: 10px;
    margin-top: 0px;
}

.view {
    position: relative;
    float: right;
    text-decoration: none;
    color: #343535;
    font-style: italic;
    margin-top: -35px;
    margin-right: 10px;
}

.view:hover {
    color: #f46a48;
    font-size: 18px;
}

#edt {
    text-decoration: none;
    color: #343535;
    margin-left: 5px;
}

#edt:hover {
    color: #f46a48;
    font-size: 18px;
}
#del {
    text-decoration: none;
    color: #343535;
    float: right;
    margin-right: 5px;
}

#del:hover {
    color: #f46a48;
    font-size: 18px;
}
